<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Histogram</title>
</head>
<body>
<div id="我的" style="width:50%;height:400px"></div>
<script src="../../js/echarts.min.js"></script>
<script src="../../js/chart.js"></script>
<script src="../../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

    var data1 = [['1','12'],
        ['2','19'],
        ['3','27'],
        ['4','31'],
        ['5','34'],
        ['6','76'],
        ['7','45'],
        ['8','76'],
        ['9','23'],
        ['10','18'],
        ['11','38'],
        ['12','45'],
        ['13','30'],
        ['14','27'],
        ['15','34']];

    var data2 = [ ['1','23'],
        ['2','14'],
        ['3','12'],
        ['4','27'],
        ['5','21'],
        ['6','34'],
        ['7','45'],
        ['8','43'],
        ['9','23'],
        ['10','18'],
        ['11','12'],
        ['12','11'],
        ['13','1'],
        ['14','14'],
        ['15','17']];
    createWithoutDecorationChart(我的,data1,data2);
    function createWithoutDecorationChart(id, data1, data2) {
        function splitSeriesData(rawData) {
            var categoryData = [];
            var values = [];

            for (var i = 0; i < rawData.length; i++) {
                categoryData.push(rawData[i].splice(0, 1)[0]);
                values.push(rawData[i].splice(0, 1)[0]);
            }
            return {
                categoryData: categoryData,
                values: values
            };
        }

        var series1 = splitSeriesData(data1);
        var series2 = splitSeriesData(data2);
        var chart = echarts.init(id);
        chart.showLoading();

        var option = {
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: series1.categoryData,
                splitNumber: 10,
                show: false
            },
            yAxis: {
                type: 'value',
                scale: true,
                show: false
            },
            series: [
                {
                    name: 'series1',
                    type: 'line',
                    data: series1.values,
                    smooth: true
                },
                {
                    name: 'series2',
                    type: 'line',
                    data: series2.values,
                    smooth: true
                }
            ]
        };
        chart.setOption(option, true);
        chart.hideLoading();
        return chart;
    }
</script>
</body>
</html>