<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->
<!--<%&#45;&#45;-->
<!--Created by IntelliJ IDEA.-->
<!--User: 61990-->
<!--Date: 2017/5/13-->
<!--Time: 11:25-->
<!--To change this template use File | Settings | File Templates.-->
<!--&#45;&#45;%>-->
<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap-select.css">
    <link rel="stylesheet" href="../css/bootstrap-datetimepicker.css">
    <link href="../css/startLoader.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <style type="text/css" rel="stylesheet">
        footer {
            margin-top: 700px;
            width: 100%;
            height: 100px;
            background-color: #444444;
        }

        body {
            margin-top: 80px;
        }

        /*#myTab{*/
        /*display: none;*/
        /*}*/
        /*#chartPanel{*/
        /*display: none;*/
        /*}*/
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>股票策略</title>
</head>


<header>
    <nav class="navbar navbar-default nav-wrapper navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand brand" href="">
                    <img alt="Quantour" src="">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">首页</a></li>
                <li><a id="stocks" style="cursor:
                 pointer">大盘详情</a></li>
                <li><a href="/trace_back">量化社区</a></li>
                <li><a href="#">帮助</a></li>
                <li><a href="#" data-toggle="modal" data-target="#login">登录</a></li>

                </c:choose>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</header>
<body>

<div class="row">
    <div class="panel panel-default col-md-8 col-md-offset-2">
        <div class="panel-body">
            <div class="row" style="margin-top: 20px">
            <!--左边选择栏  -->
                <div class="col-md-5 col-xs-12" >
                    <label class="">
                       选股指标:
                    </label>

                    <select id="searchQuota" class="selectpicker col-md-6"  onchange=quotaChange(); data-live-search="true" data-size="10" data-live-search-placeholder="Search" data-actions-box="true"title="搜索指标">
                        <option><span  class="quota">N日平均成交额</span></option>
                        <option class="quota">N日平均成交量</option>
                        <option class="quota">N日乖离率</option>
                        <option class="quota">N日波动率</option>
                        <option class="quota">N日涨幅</option>
                        <option class="quota">N日换手率</option>
                        <optgroup label="价格">
                            <option class="quota">开盘价</option>
                            <option class="quota">收盘价</option>
                            <option class="quota">最高价</option>
                            <option class="quota">最低价</option>
                            <option class="quota">前日收盘价</option>
                            <option class="quota">后复权收盘价</option>
                            <option class="quota">后复权均价</option>
                        </optgroup>
                        <optgroup label="股本">
                            <option class="quota">总股本</option>
                            <option class="quota">流通股本</option>
                            <option class="quota">总市值</option>
                            <option class="quota">流通市值</option>
                            <option class="quota">股价振幅</option>
                        </optgroup>
                        <optgroup label="估值">
                            <option class="quota">市盈率</option>
                            <option class="quota">市销率</option>
                            <option class="quota">市净率</option>
                            <option class="quota">静态市盈率</option>
                            <option class="quota">动态市盈率</option>
                        </optgroup>

                    </select>

                    <!-- 选项卡组件（菜单项nav-tabs）-->
                    <ul id="myTab" class="nav nav-tabs col-md-12 col-xs-12" style="margin-top: 20px" role="tablist">
                        <li class="active"><a href="#bulletin" role="tab" data-toggle="tab">行情</a></li>
                        <li><a href="#rule" role="tab" data-toggle="tab">技术指标</a></li>
                        <li><a href="#forum" role="tab" data-toggle="tab">股指</a></li>
                        <li><a href="#security" role="tab" data-toggle="tab">其他</a></li>
                    </ul>
                    <!-- 选项卡面板 -->
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="bulletin">
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default dropdown-toggle"  style="border: 0px solid white" data-toggle="dropdown">股票价格
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="">
                                        <li role="presentation" class="dropdown-header">当日价格</li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1" >开盘价</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1" >收盘价</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1"  >最高价</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">最低价</a>
                                        </li>
                                        <li role="presentation" class="dropdown-header">其他价格</li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota"  tabindex="-1">前日收盘价</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">日均成交价</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">后复权收盘价</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">后复权均价</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default dropdown-toggle"  style="border: 0px solid white" data-toggle="dropdown">成交额
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="">
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">当日成交额</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">5日平均成交额</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">20日平均成交额</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">60日平均成交额</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">N日平均成交额</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default dropdown-toggle"  style="border: 0px solid white" data-toggle="dropdown">成交量
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="">
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">当日成交量</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">5日平均成交量</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">20日平均成交量</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">60日平均成交量</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">N日平均成交量</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default dropdown-toggle"  style="border: 0px solid white" data-toggle="dropdown">股价涨幅
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="">
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">1日涨幅</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">5日涨幅</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">20日涨幅</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">60日涨幅</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">N日涨幅</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default dropdown-toggle"  style="border: 0px solid white" data-toggle="dropdown">累计换手率
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="">
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">当日换手率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">5日换手率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">20日换手率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">60日换手率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">N日换手率</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default dropdown-toggle"  style="border: 0px solid white" data-toggle="dropdown">股本和市值
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="">
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">总股本</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">流通股本</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">总市值</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">流通市值</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default quota"  style="border: 0px solid white" >股价涨幅
                                    </button>
                                
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="rule">
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default dropdown-toggle"  style="border: 0px solid white" data-toggle="dropdown">乖离率
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="">
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">5日乖离率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">10日乖离率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">20日乖离率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">30日乖离率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">N日乖离率</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default dropdown-toggle"  style="border: 0px solid white" data-toggle="dropdown">波动率
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="">
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">5日波动率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">10日波动率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">20日波动率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">30日波动率</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" class="quota" tabindex="-1">N日波动率</a>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="forum">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default quota"  style="border: 0px solid white" >市盈率
                                </button>

                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default quota"  style="border: 0px solid white" >市净率
                                </button>

                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default quota"  style="border: 0px solid white" >市销率
                                </button>

                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default quota"  style="border: 0px solid white" >静态市盈率
                                </button>

                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default quota"  style="border: 0px solid white" >动态市盈率
                                </button>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="security"></div>

                    </div>
                </div>


              <!--右边数据框-->
                <div class="col-md-7 col-xs-12 pre-scrollable" style="height:300px;border-left: 1px solid slategray;max-height: 300px;">
                    <label class="">
                        选股条件:
                    </label>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>指标</th>
                            <th>比较符</th>
                            <th>值</th>
                            <th>权重</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="quotaList">

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="strategyPool" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 40%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">新建静态股票池</h4>
            </div>
            <div class="modal-body">
                <p class="" style="margin-top: 5px">股票池名称:</p>
                <input type="text" class="form-control" placeholder="取个好名字" aria-describedby="basic-addon1">
                <p class="error" style="display: none;"></p>
                <p class="" style="margin-top: 5px">股票池说明:</p>
                <textarea type="text" class="form-control" placeholder="股票池说明"></textarea>
                <p class="error" style="display: none;"></p>
                <div class="" style="margin-top: 5px;">
                    <p class="static">股票列表:</p>
                    <textarea type="text" class="form-control" rows="10" placeholder="请输入股票代码 以空格隔开"></textarea>
                </div>
                <p class="error"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary save ">保存</button>
            </div>
        </div>
    </div><!-- /.modal -->
</div>



<footer>

</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/jquery.validate.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.js"></script>


<script src="../js/echarts.min.js"></script>
<script src="../js/chart.js"></script>
<script src="../js/startLoaded.js"></script>


<script type="text/javascript">

    $(".quota").hover(function () {
        $(this).css({"cursor": "pointer"});
    });

    $(".quota").click(function () {
        var quotaName;
//       alert($(this).html())
        if($(this).html().substring(0,1)=="N"){
            quotaName="<div class='col-md-5'><input class='numOfN form-control' value='10'></div><div style='margin-top: 6px' class='quotaName'>"+$(this).html().substring(1,)+"</div>"
        }else{
            quotaName="<div class='col-md-4' hidden><input class='numOfN form-control'></div><div style='margin-top: 6px' class='col-md-12 quotaName'>"+$(this).html()+"</div>"
        }

        $("#quotaList").append( "<tr class='quotaRow'>"+
            "<td class=\"col-md-4\"><div class='row'>"+quotaName+"</div></td>"+
            "<td class=\"col-md-2\">"+
            "<div class=\"row\">"+
            "<select class=\"form-control col-md-12 quotaRank\" style=\"padding-left: 5px;padding-right: 5px\">"+
            "<option>排名最大</option>"+
            "<option>排名最小</option>"+
            "<option>排名%最大</option>"+
            "<option>排名%最小</option>"+
            "</select>"+
            "</div>"+
            "</td>"+
            "<td class=\"col-md-2\">"+
            "<div class=\"row\">"+
            "<div class=\"col-md-10\">"+
            "<input type=\"text\" class=\"form-control quotaNum\" value=\"10\"/>"+
            "</div>"+
            "<div class='percent' style=\"margin-left: -10px;display: inline-block;visibility: hidden;margin-top: 5px\" >%</div>"+
            "</div>"+
            "</td>"+
            "<td class=\"col-md-2\">"+
            "<div class=\"row\">"+
            "<div class=\"col-md-9\">"+
            "<input type=\"text\" class=\"form-control quotaWeight\" value=\"1\"/>"+
            "</div>"+
            "</div>"+
            "</td>"+
            "<td class=\"col-md-1\"><button class=\"btn  btn-primary quotaBt\"><span class=\"glyphicon glyphicon-remove\"></span></button></td>"+
            "</tr>");

        $(".quotaBt").unbind("click");
        $(".quotaBt").click( function() {
            $("#quotaList").find("tr").eq($(".quotaBt").index($(this))).remove();
            commit();
        });
        $(".quotaRank").unbind("input propertychange");
        $(".quotaRank").bind('input propertychange', function () {
            if($(this).val()=="排名最大"||$(this).val()=="排名最小"){
                $("#quotaList").find("tr").eq($(".quotaRank").index($(this))).find(".percent").css("visibility","hidden");
            }else{
                $("#quotaList").find("tr").eq($(".quotaRank").index($(this))).find(".percent").css("visibility","visible");
            }
        })

    });

    function commit() {
        $(".quotaRow").each(function () {
//           分别对应指标名称 指标排名方式 选股的多少 权重
            alert($(this).find(".numOfN").val()+$(this).find(".quotaName").html());
            alert($(this).find(".quotaRank").val());
            alert($(this).find(".quotaNum").val());
            alert($(this).find(".quotaWeight").val());
        });
    }
    $('#searchQuota').bind('input propertychange', function() {
      alert("11");
    });
    function quotaChange() {
        var quotaName;
//       alert($(this).html())
        if($('#searchQuota').val().substring(0,1)=="N"){
            quotaName="<div class='col-md-5'><input class='numOfN form-control' value='10'></div><div style='margin-top: 6px' class='quotaName'>"+$('#searchQuota').val().substring(1,)+"</div>"
        }else{
            quotaName="<div class='col-md-4' hidden><input class='numOfN form-control'></div><div style='margin-top: 6px' class='col-md-12 quotaName'>"+$('#searchQuota').val()+"</div>"
        }

        $("#quotaList").append( "<tr class='quotaRow'>"+
            "<td class=\"col-md-4\"><div class='row'>"+quotaName+"</div></td>"+
            "<td class=\"col-md-2\">"+
            "<div class=\"row\">"+
            "<select class=\"form-control col-md-12 quotaRank\" style=\"padding-left: 5px;padding-right: 5px\">"+
            "<option>排名最大</option>"+
            "<option>排名最小</option>"+
            "<option>排名%最大</option>"+
            "<option>排名%最小</option>"+
            "</select>"+
            "</div>"+
            "</td>"+
            "<td class=\"col-md-2\">"+
            "<div class=\"row\">"+
            "<div class=\"col-md-10\">"+
            "<input type=\"text\" class=\"form-control quotaNum\" value=\"10\"/>"+
            "</div>"+
            "<div class='percent' style=\"margin-left: -10px;display: inline-block;visibility: hidden;margin-top: 5px\" >%</div>"+
            "</div>"+
            "</td>"+
            "<td class=\"col-md-2\">"+
            "<div class=\"row\">"+
            "<div class=\"col-md-9\">"+
            "<input type=\"text\" class=\"form-control quotaWeight\" value=\"1\"/>"+
            "</div>"+
            "</div>"+
            "</td>"+
            "<td class=\"col-md-1\"><button class=\"btn  btn-primary quotaBt\"><span class=\"glyphicon glyphicon-remove\"></span></button></td>"+
            "</tr>");

        $(".quotaBt").unbind("click");
        $(".quotaBt").click( function() {
            $("#quotaList").find("tr").eq($(".quotaBt").index($(this))).remove();
            commit();
        });

    }
</script>

<script src="../js/bootstrap-select.js"></script>
<script src="../js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap-datetimepicker.zh-CN.js"></script>
</body>
</html>
